
<mat-dialog-content class="mat-typography">
        <div class="title">
            <h2 mat-dialog-title >Creation Service</h2>
            </div>
    <form class="example-container">
          <div fxLayout="column" fxFlex="50px">
              <div fxLayout="row">
                  <div>
                      <mat-form-field>
                          <input matInput placeholder="Code" >
                        </mat-form-field>
                     
                  </div>
                  <div style="margin-top:50%;">
                        <mat-slide-toggle style="margin-left: 11%"> Statut Actif</mat-slide-toggle>
                </div>
                 
              </div>
              <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                          <mat-form-field style="width: 200%;">
                                  <textarea matInput placeholder="Designation"></textarea>
                           </mat-form-field>
                       
                    </div>
                  
                </div>
              <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                  <div>
                        <mat-form-field style="width: 200%;">
                                <textarea matInput placeholder="Description "></textarea>
                         </mat-form-field>
                     
                  </div>
                
              </div>
           
              <div fxLayout="row" style="margin-top: 40%;"  fxLayout.xs="column" fxLayoutGap="5px">
                   
                  <div>    
                        <mat-form-field>
                        <label> Prix Unitaire</label><br>
                        <input matInput>
                        </mat-form-field>
                  </div>
                 
              </div>
              <div fxLayout="row" style="margin-top: 40%;" fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                        <mat-form-field>
                            <mat-select placeholder="Boutique" >
                                <mat-option value="option">Boutique N</mat-option>
                            </mat-select>
                       </mat-form-field>
                    </div>
                    <div style="margin-left: 76%; margin-top: -14%;">
                            <mat-dialog-actions>
                                    <button  mat-raised-button color="primary">+ Boutique</button>
                                  </mat-dialog-actions>
                      </div>
                    
                      <div style="margin-left: 54%;margin-top: -14%;">
                            <mat-dialog-actions>
                                    <button mat-raised-button color="primary">- Boutique</button>
                            </mat-dialog-actions>
                      </div>

            </div>
                <div fxLayout="row" style="margin-top: 10%;" fxLayout.xs="column" fxLayoutGap="5px">
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Type Magasin" >
                                  <mat-option value="option">Magasin M(QTY=220)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="margin-top: -2%;margin-left: 25%;">
                            <mat-form-field style ="width: 60%;">
                                <input matInput placeholder="QTY">
                            </mat-form-field>
                        </div>
                      <div style="margin-left: -242%; margin-top: -14%;">
                              <mat-dialog-actions>
                                      <button  mat-raised-button color="primary" class="add">+ Magasin</button>
                                    </mat-dialog-actions>
                        </div>
                      
                        <div style="margin-left: 54%;margin-top: -14%;">
                              <mat-dialog-actions>
                                      <button mat-raised-button color="primary" class="acheteur">- Magasin</button>
                                    </mat-dialog-actions>
                        </div>
                      
                    </div>
            </div>
       
      
    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
    </mat-dialog-actions>