<div fxLayout="column" fxLayoutGap="10px">
  <div>
    <button mat-raised-button color="accent" [routerLink]="['demande-devis-formulaire']">Nouvelle demande</button>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <div fxFlex="100">
      <div class="table-container mat-elevation-z8">
        <div class="mat-table cart-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">No DEMANDE</div>
            <div class="mat-header-cell">OBJECTIF</div>
            <div class="mat-header-cell">DATE DEMANDE</div>
            <div class="mat-header-cell">INSTITUT DESTINATAIRE</div>
            <div class="mat-header-cell">ETAT DEMANDE</div>
            <!-- <div class="mat-header-cell">VOIR DETAILS</div> -->
          </div>
          <div class="mat-row">
            <div class="mat-cell">
              25841111
            </div>
            <div class="mat-cell">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
            </div>
            <div class="mat-cell">
              25/02/18
            </div>
            <div class="mat-cell">
              FINETECH
            </div>
            <div class="mat-cell">
              ACCORDE
            </div>
            <!-- <div class="mat-cell">
              <button [routerLink]="['detailsDemandeDevis',1]" mat-raised-button color="warn">
                <mat-icon>details</mat-icon>details</button>
            </div> -->
          </div>
          <div class="mat-row">
            <div class="mat-cell">
              25841111
            </div>
            <div class="mat-cell">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
            </div>
            <div class="mat-cell">
              25/02/18
            </div>
            <div class="mat-cell">
              FINETECH
            </div>
            <div class="mat-cell">
              EN PREPARATION
            </div>
            <!-- <div class="mat-cell">
              <button mat-raised-button color="warn">
                <mat-icon>details</mat-icon>details
              </button>
            </div> -->
          </div>
          <div class="mat-row">
            <div class="mat-cell">
              25841111
            </div>
            <div class="mat-cell">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
            </div>
            <div class="mat-cell">
              25/02/18
            </div>
            <div class="mat-cell">
              FINETECH
            </div>
            <div class="mat-cell">
              REJETE
            </div>
            <!-- <div class="mat-cell">
              <button mat-raised-button color="warn">
                <mat-icon>details</mat-icon>details</button>
            </div> -->
          </div>
          <div class="mat-row">
            <div class="mat-cell">
              25841111
            </div>
            <div class="mat-cell">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
            </div>
            <div class="mat-cell">
              25/02/18
            </div>
            <div class="mat-cell">
              FINETECH
            </div>
            <div class="mat-cell">
              EN ATTENTE D'APPROBATION
            </div>
            <!-- <div class="mat-cell">
              <button mat-raised-button color="warn">
                <mat-icon>details</mat-icon>details</button>
            </div> -->
          </div>
          <div class="mat-row">
            <div class="mat-cell">
              25841111
            </div>
            <div class="mat-cell">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
            </div>
            <div class="mat-cell">
              25/02/18
            </div>
            <div class="mat-cell">
              FINETECH
            </div>
            <div class="mat-cell">
              EN ATTENTE DE VALIDATION
            </div>
            <!-- <div class="mat-cell">
              <button mat-raised-button color="warn">
                <mat-icon>details</mat-icon>details</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>