
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="4px">
            <div>
                <h1>ChatBot</h1>
            </div>
            <div>
                <img src="assets/images/Home/bot-icon.png" style=" width: 48px; height: 43px; ">
            </div>
        </div>
        <div fxLayout="column">     
            <div style="padding-bottom: 0; margin-bottom: 0;">
                <p fxLayoutAlign="left" style="background: #67606061;border-radius: 25px;padding: 5%;">
                    Bonjour en quoi puis je vous etre utile aujourd'hui ?
                </p>
                <br>
                <p fxLayoutAlign="right" style="background: rgba(236, 88, 88, 0.64);border-radius: 25px;padding: 5%;margin-left: 13%;">
                    The Shiba Inu is the smallest of the six original.
                </p>
                <p fxLayoutAlign="left" style="margin-top: 12%; background: #67606061;border-radius: 25px;padding: 5%;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>
