
    <button mat-button="" (click)="openCreateCompte()">creation compte</button>
    <button mat-button="" (click)="openCreateAcheteur()">creation acheteur </button>
    <button mat-button="" (click)="openCreateOperation()">creation operation </button>
    <button mat-button="" (click)="openCreateRole()">creation role </button>
    <button mat-button="" (click)="openCreateRemboursement()">creation remboursement </button>
    <button mat-button="" (click)="openCreateActivite()">creation Activite </button>
    <button mat-button="" (click)="openCreateDomaine()">creation Domaine </button>
    <button mat-button="" (click)="openCreateOffre()">creation Offre </button>
    <button mat-button="" (click)="openCreateEnchere()">creation Enchere </button>
    <button mat-button="" (click)="openCreateDevis()">creation Devis </button>
    <button mat-button="" (click)="openCreateProduit()">creation Produit </button>
    <button mat-button="" (click)="openCreateService()">creation Service </button>
    <button mat-button="" (click)="openCreateMagasin()">creation Magasin </button>
    <button mat-button="" (click)="openCreateBoutique()">creation Boutique </button>
    <button mat-button="" (click)="openCreateLigneCredit()">creation Ligne Credit </button>
    <button mat-button="" (click)="openCreateLigneDepot()">creation Ligne Depot </button>
    <button mat-button="" (click)="openCreateDemandePret()">creation Demande Pret </button>
    <button mat-button="" (click)="openCreateDemandeDepot()">creation Demande Depot </button>
    <button mat-button="" (click)="openCreateDemandeFinancementDevis()">creation Demande Financement Devis </button>
    <button mat-button="" (click)="openCreateDemandeAgreement()">creation Demande Agreement</button>

    <button mat-button="" (click)="openUpdateCompte()">Modification compte</button>
    <button mat-button="" (click)=" openUpdateAcheteur()">Modification acheteur </button>
    <button mat-button="" (click)="openUpdateOperation()">Modification operation </button>
    <button mat-button="" (click)="openUpdateRole()">Modification role </button>
    <button mat-button="" (click)="openUpdateRemboursement()">Modification remboursement </button>
    <button mat-button="" (click)="openUpdateActivite()">Modification Activite </button>
    <button mat-button="" (click)="openUpdateDomaine()">Modification Domaine </button>
    <button mat-button="" (click)="openUpdateOffre()">Modification Offre </button>
    <button mat-button="" (click)="openUpdateEnchere()">Modification Enchere </button>
    <button mat-button="" (click)="openUpdateDevis()">Modification Devis </button>
    <button mat-button="" (click)="openUpdateProduit()">Modification Produit </button>
    <button mat-button="" (click)="openUpdateService()">Modification Service </button>
    <button mat-button="" (click)="openUpdateMagasin()">Modification Magasin </button>
    <button mat-button="" (click)="openUpdateBoutique()">Modification Boutique </button>
    <button mat-button="" (click)="openUpdateLigneCredit()">Modification Ligne Credit </button>
    <button mat-button="" (click)="openUpdateLigneDepot()">Modification Ligne Depot </button>
    <button mat-button="" (click)="openUpdateDemandePret()">Modification Demande Pret </button>
    <button mat-button="" (click)="openUpdateDemandeDepot()">Modification Demande Depot </button>
    <button mat-button="" (click)="openUpdateDemandeFinancementDevis()">Modification Demande Financement Devis </button>
    <button mat-button="" (click)="openUpdateDemandeAgreement()">Modification Demande Agreement </button>
