.title {
    background-color: tan;
    text-align: center;
}
.mat-typography {
    width: 640px;
    height: 700px
}
.google {
    border:1px solid grey;  
    margin-left: 15%
}
.facebook {
    border:1px solid grey; 
}
input{
    height: 20px;
}
.add {
    border:1px solid grey;   
}  

.acheteur {
    border:1px solid grey;   
}  

.add-adresscontainer {
    border:1px solid grey; 
    width: 575px;
    height: 177px; 
    background-color: aliceblue;
}
.rue {
 width: 100%;
}
.mat-raised-button {
    background-color: blue;
    color: white;
}