<div fxLayout="column" fxFlex="100">   
    <div class="px-24 py-8">
        <div fxLayout="row" fxLayoutGap="100px">
            <div style="display:inline-flex">
                <mat-form-field>
                    <mat-select placeholder="Activité" disableRipple>
                        <mat-option value="1">Activité 1</mat-option>
                        <mat-option value="2">Activité 2</mat-option>
                        <mat-option value="3">Activité 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="display:inline-flex">
                <mat-form-field>
                    <input matInput placeholder="rechercher">
                </mat-form-field>
            </div>
            <div style="display:inline-flex" *ngIf="role=='multiuser'">
                <mat-form-field>
                    <mat-select placeholder="Role" (selectionChange)="changeNavigation($event.value)">
                        <mat-option *ngFor="let rol of roles" [value]="rol.value">
                            {{ rol.Name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    
    <div class="page-layout carded left-sidebar">
        <!-- CENTER -->
        <div class="center pb-4" style="margin-left:10px !important">

            <!-- CONTENT CARD -->
            <div class="content-card px-5">

                <!-- CONTENT TOOLBAR -->
               <div class="toolbar px-24 py-8">
                <ng-marquee duration="20">
                    <mark>
                        Echec remboursement<mat-icon>error</mat-icon>    Fin de Stock produit<mat-icon>error</mat-icon>    Retard livraison<mat-icon>error</mat-icon>   Retard Paiement<mat-icon>error</mat-icon>    Echéance Pret<mat-icon>error</mat-icon>
                    </mark>
                </ng-marquee>
                    <!--button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('carded-left-sidebar-1')">
                        <mat-icon>menu</mat-icon>
                    </button>
                    
                    <span class="mr-5">
                        <h5 style="font-weight: bold"> <mat-icon>error</mat-icon> Echec remboursement</h5>
                    </span>
                    <div class="toolbar-separator"></div>
                    <span class="mr-5">
                        <h5 style="font-weight: bold"><mat-icon>error</mat-icon> Fin de Stock produit</h5>
                    </span>
                    <div class="toolbar-separator"></div>
                    <span class="mr-5">
                        <h5 style="font-weight: bold"> <mat-icon>error</mat-icon> Retard livraison</h5>
                    </span>
                    <div class="toolbar-separator"></div>
                    <span class="mr-5">
                        <h5 style="font-weight: bold"> <mat-icon>error</mat-icon> Retard Paiement</h5>
                    </span>
                    <div class="toolbar-separator"></div>
                    <span class="mr-5">
                        <h5 style="font-weight: bold"> <mat-icon>error</mat-icon> Echéance Pret</h5>
                    </span-->
                    <!--div ng-controller="MyCtrl">
                            <div angular-marquee scroll="scroll" duration="duration">{{title}}<span class="mr-5"><h5 style="font-weight: bold">Echec remboursement : 25</h5></span>    
                            </div>
                    </div-->
                </div>
                <div content class="content p-24">
                  <router-outlet></router-outlet>  
                </div>
            </div>
        </div>
        <!-- / CONTENT CARD -->
        <!-- / CENTER -->
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="carded-right-sidebar-1" position="end" lockedOpen="gt-md">
            <!-- SIDEBAR CONTENT -->
            <div class="content p-24">
                <admin-sidebar></admin-sidebar>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->
    </div>
</div>