<div class="demo-sidebar">
    <mat-list>
        <h1> 
            <span style="display:inline-flex">
                <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_HeaderMark.png" alt="">
            </span>  
            Filtres
        </h1>

        <mat-list-item>
           <mat-checkbox color="primary">
               <span style="display:inline-flex">
                   <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_1.png">
                </span>
                <span>Domaines</span> 
            </mat-checkbox>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span style="display:inline-flex"><img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_2.png"></span> 
                    <span>Activités</span>
                </mat-checkbox>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span style="display:inline-flex">
                        <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_3.png">
                    </span>
                    <span>Boutiques</span>
                </mat-checkbox>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span style="display:inline-flex">
                        <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_4.png">
                    </span>
                    <span>Localités</span>
                </mat-checkbox>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-checkbox color="primary">
                <span style="display:inline-flex">
                    <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_5.png">
                </span>
                <span>Références</span>
            </mat-checkbox>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-checkbox color="primary">
                <span style="display:inline-flex">
                    <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_5.png">
                </span>
                <span>Prix</span>
            </mat-checkbox>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-checkbox color="primary">
                <span style="display:inline-flex">
                    <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_6.png">
                </span>
                <span>Disponibilités</span>
            </mat-checkbox>
        </mat-list-item>

        <mat-divider></mat-divider>

    </mat-list>
    <mat-list>
        <h1>
            <span style="display:inline-flex">
                <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_HeaderMark.png" alt="">
            </span>
            Catégories
        </h1>
        
        <mat-list-item>
            <span>
                BUSINESS
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                TECHNOLOGIE
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                WEB
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                E-COMMERCE
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                MOBILE
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>
    
    </mat-list>
</div>
