<div id="animalertes" class="page-layout simple">
  <!-- CONTENT -->
  <!--div class="content p-12"-->
      <div fxLayout="row wrap" >
          <mat-nav-list class="articles-list mat-elevation-z4" *ngFor="let category of animAlertesdata">
              <h3 mat-subheader>{{category.title}}</h3>
              <a mat-list-item *ngFor="let article of category.featuredArticles"
                 >
                  {{ article.title }} ({{ article.pourcent }} % ) <mat-icon class="secondary-text mr-8" [style.color]="article.color"> {{ article.icone }} </mat-icon>
              </a>
              <a mat-list-item class="see-all-link accent-fg">
                  Voir plus ({{category.articlesCount}})
              </a>
          </mat-nav-list>
      </div>
  <!--/div-->
  <!-- / CONTENT -->
</div>
