<div class="demo-sidebar">
    <mat-list>
        <mat-list-item>
            <button mat-raised-button color="warn" class="btn-admin-menu">   
                <span style="display:inline-flex">
                    <mat-icon>account_circle</mat-icon>
                </span>
                <span>Creer Compte</span> 
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button mat-raised-button color="warn" class="btn-admin-menu">
                <span style="display:inline-flex">
                    <mat-icon>person_add</mat-icon>
                </span>
                <span>Creer Acteur</span>
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button mat-raised-button color="warn" class="btn-admin-menu">
                <span style="display:inline-flex">
                    <mat-icon>domain</mat-icon>
                </span>
                <span>Creer Domaine</span>
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button mat-raised-button color="warn" class="btn-admin-menu">
                <span style="display:inline-flex">
                    <mat-icon>transform</mat-icon>
                </span>
                <span>Creer Activité</span>
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button mat-raised-button color="warn" class="btn-admin-menu">
                <span style="display:inline-flex">
                    <mat-icon>work</mat-icon>
                </span>
                <span>Creer Role</span>
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button mat-raised-button color="warn" class="btn-admin-menu" >
                <span style="display:inline-flex">
                    <mat-icon>perm_data_setting</mat-icon>
                </span>
                <span>Creer Opération</span>
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

    </mat-list>
</div>
