<div fxLayout="column" fxLayoutGap="2px">
    <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
      <div fxFlex="100">
        <div class="table-container mat-elevation-z8">
          <div class="mat-table cart-table">
            <div class="mat-header-row">
              <div class="mat-header-cell">No COMMANDE</div>
              <div class="mat-header-cell">DESCRIPTION</div>
              <div class="mat-header-cell">DATE COMMANDE</div>
              <div class="mat-header-cell">MONTANT HT</div>
              <div class="mat-header-cell">MONTANT TTC</div>
              <div class="mat-header-cell">DETAILS</div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">
                25841111
              </div>
              <div class="mat-cell">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
              </div>
              <div class="mat-cell">
                25/02/18                
              </div>
              <div class="mat-cell"> 
                25 000               
              </div>
              <div class="mat-cell">
                30 000                
              </div>
              <div class="mat-cell"> 
                <button [routerLink]="['detailsCommande',1]" mat-raised-button color="warn"><mat-icon>details</mat-icon>details</button>         
              </div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">
                25841111
              </div>
              <div class="mat-cell">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
              </div>
              <div class="mat-cell">
                25/02/18                
              </div>
              <div class="mat-cell"> 
                25 000               
              </div>
              <div class="mat-cell">
                30 000                
              </div>
              <div class="mat-cell"> 
                <button mat-raised-button color="warn"><mat-icon>details</mat-icon>details</button>         
              </div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">
                25841111
              </div>
              <div class="mat-cell">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
              </div>
              <div class="mat-cell">
                25/02/18                
              </div>
              <div class="mat-cell"> 
                25 000               
              </div>
              <div class="mat-cell">
                30 000                
              </div>
              <div class="mat-cell"> 
                <button mat-raised-button color="warn"><mat-icon>details</mat-icon>details</button>         
              </div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">
                25841111
              </div>
              <div class="mat-cell">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
              </div>
              <div class="mat-cell">
                25/02/18                
              </div>
              <div class="mat-cell"> 
                25 000               
              </div>
              <div class="mat-cell">
                30 000                
              </div>
              <div class="mat-cell"> 
                <button mat-raised-button color="warn"><mat-icon>details</mat-icon>details</button>         
              </div>
            </div>
            <div class="mat-row">
              <div class="mat-cell">
                25841111
              </div>
              <div class="mat-cell">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. consectetur.
              </div>
              <div class="mat-cell">
                25/02/18                
              </div>
              <div class="mat-cell"> 
                25 000               
              </div>
              <div class="mat-cell">
                30 000                
              </div>
              <div class="mat-cell"> 
                <button mat-raised-button color="warn"><mat-icon>details</mat-icon>details</button>         
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
