.title {
    background-color: cadetblue;
    text-align: center;

}
.mat-typography {
    width: 575px;
    height: 600px;
}
.google {
    border:1px solid grey;  
    margin-left: 15%
}
.facebook {
    border:1px solid grey; 
}
input{
    height: 20px;
}
.add {
   // border:1px solid grey;   
}  
.animateur {
    border:1px solid grey;   
}  
.fournisseur {
    border:1px solid grey;   
}  

.add-adresscontainer {
    border:1px solid grey; 
    width: 529px;
    height: 172px; 
    background-color: aliceblue;
}
.rue {
 width: 100%;
}
.mat-raised-button {
    background-color: blue;
    color: white;
}
.inscrire {
    border:1px solid chartreuse;  
}
.flex-grow{
    flex: 1 1 100%
} 
.flex-1{
    flex: 0 1 auto
}