
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title>Creation Compte</h2>
        </div>
    <button href="#" class="facebook">Inscription via facebook</button>
    <button href="#" class="google">Inscription via Google+</button>
<form class="example-container">
      <div fxLayout="column" fxFlex="50px" >
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
              <div>
                  <mat-form-field>
                      <input matInput placeholder="Utilisateur" >
                    </mat-form-field>
                 
              </div>
             
          </div>
          <div fxLayout="row" style="margin-top: -38%;" fxLayout.xs="column" fxLayoutGap="10px">
              <div>
                  <mat-form-field >
                      <input matInput placeholder="Nom">
                    </mat-form-field>
              </div>
              <div>
                  <mat-form-field >
                      <input matInput placeholder="Prenom" >
                    </mat-form-field>
              </div>
          </div>
          <div fxLayout="row" style="margin-top: -38%;" fxLayout.xs="column" fxLayoutGap="10px">
              <div>
                    <mat-form-field>
                            <input matInput placeholder="Enter your email" [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                    
              </div>
              <div>
                  <mat-form-field  hintLabel="Max 10 chiffres" >
                      <input matInput placeholder="Telephone" #input maxlength="10" >
                      <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
              </div>
          </div>
          <div fxLayout="row" style="margin-top: -5%;" fxLayout.xs="column" fxLayoutGap="10px">
              <div>
                    <mat-form-field>
                            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
              </div>
              <div>
                    <mat-form-field>
                            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
              </div>
          </div>
          <div fxLayout="row" style="margin-top: 2%;" fxLayout.xs="column" fxLayoutGap="10px">
              <div style="margin-top: 43%;">
                      <mat-slide-toggle> Acteur Client</mat-slide-toggle>
              </div>
              <div>
                         <mat-form-field  style="margin-top: -44%;margin-left: 30%;">
                            <input matInput placeholder="rechercher">
                             <mat-icon matSuffix style="margin-left: 12%;">search</mat-icon>
                          </mat-form-field>
   
              </div>
          </div>

          <div fxLayout="row" style="margin-top: -12%;" fxLayout.xs="column" fxLayoutGap="10px">
              <div>
                    <mat-form-field>
                            <mat-select placeholder="Type Acteur">
                              <mat-option value="option">Type Acteur</mat-option>
                            </mat-select>
                     </mat-form-field>
                 
              </div>
            <div>
                    <mat-dialog-actions>
                            <button mat-button class="add">add role/+Niv. Agreement</button>
                          </mat-dialog-actions>
              </div>
              <div>
                    <mat-dialog-actions>
                            <button mat-button class="animateur">animateur</button>
                          </mat-dialog-actions>
              </div>
              <div>
                    <mat-dialog-actions>
                            <button mat-button class="fournisseur">fournisseur</button>
                          </mat-dialog-actions>
              </div>
            
          </div>
       
          <div fxLayout="row">
              
                <div>
                                <h2 mat-dialog-title>Ajouter Adresse</h2>
                                <form class="add-adresscontainer">
                                        <div fxLayout="column" fxFlex="100px">
                                            <div fxLayout="row" >
                                                <div>
                                                <mat-form-field style ="width: 35%; margin-left: 6%;">
                                                    <input matInput placeholder="No">
                                                </mat-form-field>
                                                </div>
                                            
                                            <div>
                                            
                                                  <mat-form-field style="width: 170%;">
                                                    <textarea matInput placeholder="Rue"></textarea>
                                                  </mat-form-field>
                                            
                                            </div>
                                        </div>
                                        <div fxLayout="row" style="margin-top: -20%;" >
                                                <div>
                                                        <mat-form-field style ="width: 55%; margin-left: 6%;">
                                                                <input matInput placeholder=" Code postal">
                                                              </mat-form-field>
                                                </div>
                                                <div>
                                                        <mat-form-field style ="width: 55%">
                                                                <input matInput placeholder="Ville">
                                                              </mat-form-field>
                                                </div>
                                         </div>
                                            <div fxLayout="row" style="margin-top: -23%; margin-left: 11%;">
                                                    <div style="width: 100%; margin-left: 11%;">
                                                            <mat-form-field >
                                                            <mat-select placeholder="Pays"   >
                                                                    <mat-option>-- None --</mat-option>
                                                                    <mat-option value="option">Senegal</mat-option>
                                                                    <mat-option value="option">France</mat-option>
                                                                    <mat-option value="option">Canada</mat-option>
                                                            </mat-select>
                                                            </mat-form-field>
                                                    </div>
                                                    
                                            </div>
                                            <div fxLayout="row" style="margin-top: -12%;" fxLayout.xs="column" fxLayoutGap="10px">
                                                    <div>
                                                            <mat-dialog-actions style="margin-left:434px; margin-top: -10%;">
                                                                    <button mat-raised-button color="accent" class="">Ajout</button>
                                                                  </mat-dialog-actions>
                                                      
                                                    </div>
                                                    
                                                </div>
                                         </div>
                                 </form>
                      
                                </div>
                                <div>
                                        <mat-form-field  style="margin-left: -192px;">
                                            <input matInput placeholder="CNI">
                                          </mat-form-field>
                                    </div>
            </div>
        </div>
   
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button class="inscrire" color="" [mat-dialog-close]="true" cdkFocusInitial>Inscrire</button>
</mat-dialog-actions>