<div fxLayout="row" fxLayoutAlign="center center" class="title-top">
  <div>
    <h2 class="title">NOTATIONS</h2>
  </div>
</div>
<div fxLayout="column" fxLayoutGap="30px" class="px-24">

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
      <div fxFlex="50">
        <mat-card>
          <mat-card-title>User N</mat-card-title>
          <mat-card-subtitle>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
              <div class="title" style="margin-bottom:2%">Rating breakdown</div>
              <section class="example-section">
                <label class="example-margin">5</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="100" bufferValue="100">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">4</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="75" bufferValue="75">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">3</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="50" bufferValue="50">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">2</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="25" bufferValue="25">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">1</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="15" bufferValue="15">
                </mat-progress-bar>
              </section>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50">
        <mat-card>
          <mat-card-title>User N</mat-card-title>
          <mat-card-subtitle>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
          </mat-card-subtitle>
            <mat-card-content>
              <div class="title" style="margin-bottom:2%">Rating breakdown</div>
              <section class="example-section">
                <label class="example-margin">5</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="100" bufferValue="100">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">4</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="75" bufferValue="75">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">3</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="50" bufferValue="50">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">2</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="25" bufferValue="25">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">1</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="15" bufferValue="15">
                </mat-progress-bar>
              </section>
            </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50">
        <mat-card>
          <mat-card-title>User N</mat-card-title>
          <mat-card-subtitle>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
            <div class="title" style="margin-bottom:2%">Rating breakdown</div>
            <section class="example-section">
              <label class="example-margin">5</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="100" bufferValue="100">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">4</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="75" bufferValue="75">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">3</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="50" bufferValue="50">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">2</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="25" bufferValue="25">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">1</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="15" bufferValue="15">
              </mat-progress-bar>
            </section>
          </mat-card-content>
        </mat-card>
      </div>

  </div>
  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
      <div fxFlex="50">
        <mat-card>
          <mat-card-title>User N</mat-card-title>
          <mat-card-subtitle>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
              <div class="title" style="margin-bottom:2%">Rating breakdown</div>
              <section class="example-section">
                <label class="example-margin">5</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="100" bufferValue="100">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">4</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="75" bufferValue="75">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">3</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="50" bufferValue="50">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">2</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="25" bufferValue="25">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">1</label>

                <label class="example-margin"><mat-icon>star</mat-icon></label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="15" bufferValue="15">
                </mat-progress-bar>
              </section>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50">
        <mat-card>
          <mat-card-title>User N</mat-card-title>
          <mat-card-subtitle>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
          </mat-card-subtitle>
            <mat-card-content>
              <div class="title" style="margin-bottom:2%">Rating breakdown</div>
              <section class="example-section">
                <label class="example-margin">5</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="100" bufferValue="100">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">4</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="75" bufferValue="75">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">3</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="50" bufferValue="50">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">2</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="25" bufferValue="25">
                </mat-progress-bar>
              </section>
              <section class="example-section">
                <label class="example-margin">1</label>
            
                <label class="example-margin">
                  <mat-icon>star</mat-icon>
                </label>
                <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="15" bufferValue="15">
                </mat-progress-bar>
              </section>
            </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="50">
        <mat-card>
          <mat-card-title>User N</mat-card-title>
          <mat-card-subtitle>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
            <mat-icon class="orange600">star</mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
            <div class="title" style="margin-bottom:2%">Rating breakdown</div>
            <section class="example-section">
              <label class="example-margin">5</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="100" bufferValue="100">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">4</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="75" bufferValue="75">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">3</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="50" bufferValue="50">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">2</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="25" bufferValue="25">
              </mat-progress-bar>
            </section>
            <section class="example-section">
              <label class="example-margin">1</label>
          
              <label class="example-margin">
                <mat-icon>star</mat-icon>
              </label>
              <mat-progress-bar class="example-margin" color="primary" mode="Determinate" value="15" bufferValue="15">
              </mat-progress-bar>
            </section>
          </mat-card-content>
        </mat-card>
      </div>

  </div>
</div>