
<mat-dialog-content class="mat-typography">
        <div class="title">
            <h2 mat-dialog-title >Modification Operation</h2>
            </div>
            <button href="#" class="edit"><mat-icon matPrefix>how_to_reg</mat-icon>Editer</button>
    <form class="example-container">
          <div fxLayout="column" fxFlex="50px">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                  <div>
                      <mat-form-field>
                          <input matInput placeholder="Nom Operation" >
                        </mat-form-field>
                     
                  </div>
                 
              </div>
              <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="10px">
                  <div>
                        <mat-form-field style="width: 200%;">
                                <textarea matInput placeholder="Description Operation"></textarea>
                         </mat-form-field>
                     
                  </div>
                
              </div>
           
              
              <div fxLayout="row" style="margin-top: 40%;">
                    <div>    
                      <h4 mat-dialog-title >Modifier Logo</h4>
                      <mat-dialog-actions style="margin-left: 104px;margin-top: -43%;">
                        <input  style="display: none" 
                            type="file" (change)="onFileChanged($event)" 
                            #fileInput>
                        <button  mat-fab color="primary"  (click)="fileInput.click()"><mat-icon matPrefix>import_export</mat-icon></button>
                            <!--<button mat-fab color="primary" class="">Ajout</button>-->
                    </mat-dialog-actions>   
                  </div>
              </div>
    
              
           
              
            </div>
       
      
    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
      <button mat-raised-button color="warn" mat-dialog-close>Delete</button>
      <button mat-raised-button class="save" color="" [mat-dialog-close]="true" cdkFocusInitial><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
    </mat-dialog-actions>