.title {
    background-color: cadetblue;
    text-align: center;
}
.mat-typography {
    width: 470px;
    height: 380px;
}
.google {
    border:1px solid grey;  
    margin-left: 15%
}
.facebook {
    border:1px solid grey; 
}
input{
    height: 20px;
}



.mat-raised-button {
    background-color: blue;
    color: white;
}