<div fxLayout="row" fxLayoutAlign="center center" class="title-top">
  <div><h2 class="title">APPEL OFFRES</h2></div>
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="NoFoOffre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # Offre </th>
      <td mat-cell *matCellDef="let row"> {{row.NoFoOffre}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Img">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
      <td mat-cell *matCellDef="let row"> <img src='{{row.Img}}' class="avatar"/></td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Emetteur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Emetteur </th>
      <td mat-cell *matCellDef="let row"> {{row.Emetteur}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Repondre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Repondre </th>
      <td mat-cell *matCellDef="let row"> {{row.Repondre}} <button mat-icon-button><i class="material-icons s-16">question_answer</i></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <button mat-raised-button color="primary" (click)="crudComp.openCreateOffre()">
      <span>AJOUT + OFFRE</span>
  </button>
</div>