<div fxLayout="column" fxLayoutGap="30px" class="px-24">

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <a [routerLink]="['commande-list']" fxFlex="50" class="panel">
      <div>
          <span class="title">Commande</span>
      </div>
    </a>
    <a [routerLink]="['pret-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Pret </span>
      </div>
    </a>
    <a [routerLink]="['devis-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Devis </span>
      </div>
    </a>
  </div>
  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <a [routerLink]="['livraison-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Livraison</span>
      </div>
    </a>
    <a [routerLink]="['credit-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Credit </span>
      </div>
    </a>
    <a [routerLink]="['enchere-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Encheres </span>
      </div>
    </a>
  </div>
  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <a [routerLink]="['gdemande-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Gestion Demande</span>
      </div>
    </a>
    <a [routerLink]="['depot-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Depot </span>
      </div>
    </a>
    <a [routerLink]="['notation-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Notations </span>
      </div>
    </a>
  </div>
 

</div>