
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Modification Pret</h2>
    </div>
    <button href="#" class="edit"><mat-icon matPrefix>how_to_reg</mat-icon>Editer</button>
<form class="example-container">
        <div fxLayout="column" fxFlex="50px">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                      <mat-form-field>
                          <input matInput placeholder="Montant Pret" type="number">
                          <span matPrefix>$&nbsp;</span>
                        </mat-form-field>
                    </div>
                   
                </div>
                <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                      <div>
                          <mat-form-field  style="width:138%;">
                              <input matInput placeholder="Montant Restant Dû" type="number">
                              <span matPrefix>$&nbsp;</span>
                            </mat-form-field>
                         
                      </div>
                    
                  </div>
                  <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                      <div>
                          <mat-form-field>
                              <mat-select placeholder="Type de pret" >
                                <mat-option value="option">Type de pret</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div>
                          <mat-form-field  style="margin-left:15%">
                              <mat-select placeholder="Etat du pret"  >
                                <mat-option value="option">Etat Pret</mat-option>
                              </mat-select>
                          </mat-form-field>
                  </div>
                        
                      </div>
                      <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                          <div>
                              <mat-form-field>
                                  <mat-select placeholder="Echeance" >
                                    <mat-option value="option">Echeance(4X)</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div  style="margin-top:2%">
                              <mat-form-field>
                                  <mat-select  placeholder="Fournisseur"  >
                                    <mat-option value="option">Fournisseur</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                            
                      </div>
             
                      <div fxLayout="row" style="margin-top: 5%;">
                  
                              <div>
                                      <mat-slide-toggle> Urgent</mat-slide-toggle>
                              </div>
                            
                        </div>
                        
                        <div fxLayout="row" style="margin-top: -13%;" fxLayout.xs="column" fxLayoutGap="5px">
                              <div style="margin-left: 111%;margin-top: -50%;">
                                      <mat-form-field>
                                          <label>Date</label><br>
                                         <input matInput type="date" >
                                          <mat-icon matSuffix>date_range</mat-icon>
                                      </mat-form-field>
                                  </div>
                          </div>
              </div>
   
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="warn" mat-dialog-close>Delete</button>
    <button mat-raised-button class="save" color="" [mat-dialog-close]="true" cdkFocusInitial><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
  </mat-dialog-actions>