<div fxLayout="column" fxFlex="100">
    <app-main-carousel [slides]="slides"></app-main-carousel>
    <app-breadcrumb></app-breadcrumb>
    <div class="page-layout carded left-sidebar">

        <!-- TOP BACKGROUND -->
        <!-- <div class="top-bg" style="padding-bottom: 4px"><h4>Acceuil</h4></div> -->
        <!-- / TOP BACKGROUND -->

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="carded-left-sidebar-1" position="left" lockedOpen="gt-md">

            <!-- SIDEBAR CONTENT -->
            <div class="content p-24">
                <fuse-demo-sidebar></fuse-demo-sidebar>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->


        <!-- CENTER -->
        <div class="center">

            <!-- CONTENT CARD -->
            <div class="content-card">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">

                    <button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('carded-left-sidebar-1')">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <span><h1 style="font-weight: bold">Domaine</h1> </span>

                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <app-domaines-list></app-domaines-list>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->
        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="carded-right-sidebar-1" position="end" lockedOpen="gt-md">

            <!-- SIDEBAR CONTENT -->
            <div class="content p-24">
                <chbot-sidebar></chbot-sidebar>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->
    </div>

</div>