.title {
    background-color: cadetblue;
    text-align: center;
}
.mat-typography {
    width: 1000px;
    height: 800px;
}
.google {
    border:1px solid grey;  
    margin-left: 15%
}
.facebook {
    border:1px solid grey; 
}
input{
    height: 20px;
}



.mat-raised-button {
    background-color: blue;
    color: white;
}
.cart-table.mat-table {
    display: block;
    overflow-x:auto;
    .mat-row, .mat-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
        min-width: 870px;
    }
    .mat-row{
        min-height: 100px;
    }
    .mat-cell, .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
    .mat-header-cell {
        font-size: 14px;
    }
    .mat-cell{
        img{
            width: 100px;
        }
        .product-name{
            color: inherit;
            text-decoration: none;
            font-weight: 500;
        }
        .grand-total{
            font-weight: 500;
            span:nth-child(3){
                font-size: 16px;
            }
        }
.handle-counter { overflow: hidden; }
.handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {
  float: left;
  text-align: center;
}
.handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }
.handle-counter input {
  width: 14%;
  border-width: 1px;
  border-left: none;
  border-right: none;
}
.btn {
  padding: 6px 12px;
  border: 1px solid transparent;
  color: #DC0030;
}
.btn:disabled, .btn:disabled:hover {
  background-color: darkgrey;
  cursor: not-allowed;
}
.btn-primary { background-color: #F8F8F8; }
.btn-primary:hover, .btn-primary:focus { background-color: #F8F8F8; }

    }
    .firstprice {
        color: #2a2a2a;
        font-weight: bold;
        font-size: 20pt;
    }
    .nameproduct{
        color: #2a2a2a;
        font-weight: 600;
        font-size: 20.06pt;
    }
    .totalprice{
        color: #2a2a2a;
        font-weight: bold;
        font-size: 20pt;
    }
    .expo{
        color: #6b6b6b;
        font-weight: 500;
        font-size: 9pt;
    }
    .countproduct{
        font-weight: bold;
        font-size: 20.73pt;
        color: #DC0030;
        margin-left: 0%
    }
    .products{
        margin-top: -22%;
        margin-left: 33%;
        color: #6b6b6b;
        font-weight: 500;
        font-size: 17.48pt;
    }
    .productpolice{
        color: #6b6b6b;
        font-weight: 500;
        font-size: 17.48pt;
    }

}
