<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
    <a mat-button [routerLink]="['/domaine']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Domaines</a>
    <a mat-button [routerLink]="['/produit']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Produits</a>
    <a mat-button [routerLink]="['/Enchere']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Enchere</a>
    <a mat-button [routerLink]="['/services']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Services</a>
    <a mat-button [routerLink]="['/ratings']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Rating</a>
    <a mat-button [routerLink]="['/offres']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Appels d'Offres</a>
    <a mat-button [routerLink]="['domaine', 'domaineActivite', 'Domaine Activité']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Domaine d'Activité</a>
</mat-toolbar>

