
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Suivi Reglement Commande</h2>
        </div>
<form class="example-container">
      <div fxLayout="column" fxFlex="50px">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
              <div>
                <mat-form-field>
                    <input matInput placeholder="Montant Reglement" type="number">
                  </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                    <input matInput placeholder="Fournisseur nom" >
                  </mat-form-field>
              </div>
             
          </div>
          <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
           
            <div>
                <mat-form-field>
                    <input matInput placeholder="Mode de reglement " >
                  </mat-form-field>
              </div>
            </div>
               
        </div>
   
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial><mat-icon matPrefix>save_alt</mat-icon>Valider</button>
</mat-dialog-actions>