<mat-dialog-content class="mat-typography">
        <div class="title">
            <h2 mat-dialog-title>Rechercher Produit</h2>
       </div>
<mat-divider></mat-divider>
<div class="example-container">
        <div fxLayout="column" fxFlex="50px">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                <div>
                 <mat-form-field>
                     <input matInput placeholder="Rechercher un produit">
                    <mat-icon matSuffix style="margin-left: 12%;">search</mat-icon>
                </mat-form-field>
                </div>
               
            </div>
        </div>
</div>

<mat-card class="example-card">
   
	<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Safety Shoes  QTY: 25  25000F</mat-card-title>
    <mat-card-subtitle>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_border</mat-icon>
            <mat-icon>star_border</mat-icon>
            Commantaires
        </mat-card-subtitle>
    </mat-card-header>
    <div>
            <mat-dialog-actions style="margin-left:30%">
                    <button mat-button >Ajouter</button>
                  </mat-dialog-actions>
      </div>
</mat-card>
<mat-card class="example-card">
   
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Safety Shoes  QTY: 25  25000F</mat-card-title>
        <mat-card-subtitle>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star_border</mat-icon>
                <mat-icon>star_border</mat-icon>
                Commantaires
            </mat-card-subtitle>
        </mat-card-header>
        <div>
                <mat-dialog-actions style="margin-left:30%">
                        <button mat-button >Ajouter</button>
                      </mat-dialog-actions>
          </div>
    </mat-card>
    <mat-card class="example-card">
   
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Safety Shoes  QTY: 25  25000F</mat-card-title>
            <mat-card-subtitle>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star</mat-icon>
                    <mat-icon>star_border</mat-icon>
                    <mat-icon>star_border</mat-icon>
                    Commantaires
                </mat-card-subtitle>
            </mat-card-header>
            <div>
                    <mat-dialog-actions style="margin-left:30%">
                            <button mat-button >Ajouter</button>
                          </mat-dialog-actions>
              </div>
        </mat-card>
</mat-dialog-content>