.example-card {
    max-width: 600px;
    margin: 4px
  }
    
  .mat-typography {
    height: 710px
}
  .example-header-image {
    background-image: url('../../../../../../assets/images/others/user.jpg');
    background-size: cover;
  }
  .title {
    background-color: cadetblue;
    text-align: center;
}