
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Demande Depot</h2>
        </div>
<form class="example-container">
      <div fxLayout="column" fxFlex="50px">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
              <div>
                <mat-form-field>
                    <input matInput placeholder="Numero Compte Client">
                </mat-form-field>
              </div>
             
          </div>
          <div fxLayout="row" style="margin-top: -3%;"  fxLayout.xs="column" fxLayoutGap="5px">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Nom Deposant">
                    </mat-form-field>
                </div>
                <div style="margin-left:163%">
                        <mat-form-field>
                            <input matInput placeholder="Prenom Deposant">
                        </mat-form-field>
                    </div>
              
            </div>
            <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="CNI Deposant">
                    </mat-form-field>
                </div>
                <div style="margin-left: 163%">
                    <mat-form-field>
                        <input matInput placeholder="Type CNI">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" style="margin-top: 40%;"  fxLayout.xs="column" fxLayoutGap="5px">
                <div style="margin-top: -50%;">
                    <mat-form-field>
                        <label>Date Delivrance CNI</label><br>
                       <input matInput type="date" >
                        <mat-icon matSuffix>date_range</mat-icon>
                    </mat-form-field>
                </div>
                <div style="margin-left: 117%;margin-top: -50%;">
                    <mat-form-field>
                        <label>Date Expiration CNI</label><br>
                       <input matInput type="date" >
                        <mat-icon matSuffix>date_range</mat-icon>
                    </mat-form-field>
                </div>
          </div>
                <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                        <mat-form-field  hintLabel="Max 10 chiffres" >
                            <input matInput placeholder="Telephone" #input maxlength="10" >
                            <mat-icon matSuffix>phone</mat-icon>
                          </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Montant Depot" type="number" >
                            <span matPrefix>$&nbsp;</span>
                          </mat-form-field>
                    </div>
                    <div style="margin-left:182%">
                        <mat-form-field >
                            <mat-select placeholder="Objet" >
                              <mat-option value="option">Objet Depot</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>      
                <div fxLayout="row" style="margin-top: -3%;">
                    <div>
                        <mat-form-field>
                            <mat-select placeholder="Numero Pret" >
                              <mat-option value="option">Numero de Pret(Inullable)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
       
         
        </div>
   
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
</mat-dialog-actions>