
<mat-dialog-content class="mat-typography">
        <div class="title">
            <h2 mat-dialog-title >Creation Enchere</h2>
            </div>
    <form class="example-container">
          <div fxLayout="column" fxFlex="50px">
              <div fxLayout="row">
                  <div>
                      <mat-form-field>
                          <input matInput placeholder="Auteur Enchere" >
                        </mat-form-field>
                     
                  </div>
                  <div>
                        <mat-form-field style="width: 52%; margin-top: 3%;margin-left: 100%">
                            <mat-select required >
                              <mat-option value="option">Type Acteur</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                 
              </div>
                <div fxLayout="row" style="margin-top: -44%;">
                        <div>
                                <mat-form-field style="width: 52%;">
                                    <mat-select required >
                                      <mat-option value="option">Activite</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div style="margin-left: 202%">
                                    <mat-form-field>
                                        <input matInput placeholder="Prix Depart" >
                                      </mat-form-field>
                                   
                                </div>
                </div>
                <div fxLayout="row" style="margin-top: -32%;">
                        <div>
                            <h4 mat-dialog-title >Date Lancement </h4>
                        </div>
                        <div>
                             
                              <mat-form-field style="margin-left: 94%;">
                                 <input matInput type="date" >
                                  <mat-icon matSuffix>date_range</mat-icon>
                              </mat-form-field>
                        </div>
                </div>
                <div fxLayout="row" style="margin-top: -23%;">
                        <div>
                                <h4>Date Cloture  </h4>
                            </div>
                        <div>
                              <mat-form-field style="margin-left: 107%;">
                                 <input matInput type="date" >
                                  <mat-icon matSuffix>date_range</mat-icon>
                              </mat-form-field>
                        </div>
                 </div>
                 <div fxLayout="row" style="margin-top: -24%;">
                     <div>
                        <mat-form-field >
                           <input matInput placeholder="rechercher produit">
                            <mat-icon matSuffix style="margin-left: 12%;">search</mat-icon>
                         </mat-form-field>
                    </div>
                 </div>
                 <div fxLayout="row" style="margin-top: -20%;">
                        <div>
                            <mat-form-field style="width: 52%;">
                                <mat-select required >
                                  <mat-option value="option">Produit M</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="margin-top: -7%;margin-left: -108%;">
                            <mat-form-field style ="width: 35%;">
                                <input matInput placeholder="QTY">
                            </mat-form-field>
                        </div>
                      <div style="margin-left: -83%; margin-top: -14%;">
                              <mat-dialog-actions>
                                      <button  mat-raised-button color="primary" class="add">+ Enchere</button>
                                    </mat-dialog-actions>
                        </div>
                      
                        <div style="margin-left: 54%;margin-top: -14%;">
                              <mat-dialog-actions>
                                      <button mat-raised-button color="primary" class="acheteur">- Enchere</button>
                                    </mat-dialog-actions>
                        </div>
                    </div>
                    <div fxLayout="row" style="margin-top: -44%;">
                            <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Prix Vente Finale" >
                                 </mat-form-field>
                                   
                         </div>
                   </div>
                   <div fxLayout="row" style="margin-top: 40%;">
                   
                        <div>   
                          <mat-dialog-actions style="margin-top:-22%;">
                                  <input  style="display: none" 
                                  type="file" (change)="onFileChanged($event)" 
                                  #fileInput>
                                <button  mat-raised-button color="primary"  (click)="fileInput.click()"><mat-icon matPrefix>import_export</mat-icon>+ Charger Photo</button>
                          </mat-dialog-actions>   
                        </div>
                        <div>
                                <mat-dialog-actions style="margin-left: 28px;margin-top: -20%;">
                                        <button mat-raised-button color="warn">-Supprimer Photo</button>
                                      </mat-dialog-actions>
                        </div>
                    </div>
                    <div fxLayout="row">
                    <app-brands-carousel></app-brands-carousel>
                    </div>
            </div>
       
      
    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
    </mat-dialog-actions>