<div fxLayout="row" fxLayoutAlign="center center" class="title-top">
  <div>
    <h2 class="title">STATISTIQUES</h2>
  </div>
</div>
<div fxLayout="column" fxLayoutGap="30px" class="px-24">

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50" class="panel">
      <div fxLayout="column" fxLayoutAlign="center center" style="color:black; font-weight:bold">
        <div><img src="assets/icons/diagram/Pie-Chart-icon.png" width="100" alt=""></div>
        <div>Remboursement Credit</div>
        <div>Remboursé / En cours </div>
      </div>
    </div>
    <div fxFlex="50" class="panel">
      
      <div fxLayout="column" style="color:black; font-weight:bold" fxLayoutAlign="center center">
        <div><img src="assets/icons/diagram/Pie-Chart-icon.png" width="100" alt=""></div> 
        <div>CA Par Domaine</div>
      </div>
    </div>

    <div fxFlex="50" class="panel" style="color:black; font-weight:bold" fxLayoutAlign="center center">
        
      <div fxLayout="column">
        <div><img src="assets/icons/diagram/bar.png" width="100" alt=""></div>
        <div>Evolution CA / Temps </div>
      </div>
    </div>

  </div>

  <div fxLayout="column" fxLayoutGap="30px" class="px-24">
  
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50" class="">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" style="color:black; font-weight:bold">
          
          <div class="title2" style="margin-bottom:1%">Agreement</div>
          <div style="width:10em">
            <section class="example-section">
              <label class="example-margin" style="width:7em">niveau 1</label>
              <mat-progress-bar class="example-margin" color="accent" mode="Determinate" value="75" bufferValue="100">
              </mat-progress-bar>
            </section>
          </div>
          <div style="width:10em">
            <section class="example-section">
              <label class="example-margin" style="width:7em">niveau 2</label>
              <mat-progress-bar class="example-margin" color="accent" mode="Determinate" value="80" bufferValue="100">
              </mat-progress-bar>
            </section>
          </div>
          <div style="width:10em">
            <section class="example-section">
              <label class="example-margin" style="width:7em">niveau 3</label>
              <mat-progress-bar class="example-margin" color="accent" mode="Determinate" value="90" bufferValue="100">
              </mat-progress-bar>
            </section>
          </div>
          <div style="width:10em">
            <section class="example-section">
              <label class="example-margin" style="width:7em">niveau 3</label>
              <mat-progress-bar class="example-margin" color="accent" mode="Determinate" value="90" bufferValue="100">
              </mat-progress-bar>
            </section>
          </div>
        </div>
      </div>
      <div fxFlex="50" class="">
  
        <div fxLayout="column" fxLayoutGap="10px" style="color:black; font-weight:bold" fxLayoutAlign="center center">
        
          <div class="title2" style="margin-bottom:1%">Top 10 CA Multiuser</div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
        </div>
      </div>
  
      <div fxFlex="50" class="" style="color:black; font-weight:bold" fxLayoutAlign="center center">
  
        <div fxLayout="column" fxLayoutGap="10px">
          
          <div class="title2" style="margin-bottom:1%">Top 10 CA Multiuser </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Multiuser)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
        </div>
      </div>

      <div fxFlex="50" class="" style="color:black; font-weight:bold" fxLayoutAlign="center center">
  
        <div fxLayout="column" fxLayoutGap="10px">
          
          <div class="title2" style="margin-bottom:1%">Top 10 CA Boutique </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Boutique)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Boutique)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Boutique)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
          <div style="width:14em">
            <section class="example-section">
              <label class="example-margin" style="width:13em">Nom Prenom (Boutique)</label>
              <mat-icon class="orange600">star</mat-icon>
            </section>
          </div>
        </div>
      </div>
  
    </div>

</div>