.title {
    background-color:tan;
    text-align: center;
}
.mat-typography {
    width: 520px;
    height: 450px;
}
.google {
    border:1px solid grey;  
    margin-left: 15%
}
.facebook {
    border:1px solid grey; 
}
input{
    height: 20px;
}

.save {
    border:1px solid chartreuse;  
}

.mat-raised-button {
    background-color: blue;
    color: white;
}