table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.orange600 {
    color: #FB8C00;
    padding-top: 7px;
}

.green600 {
    color: rgb(62, 168, 12);
    padding-top: 7px;
}

.red600 {
    color: rgb(251, 0, 0);
    padding-top: 7px;
}

.title {
    font-weight: bold;
}

.title-top {
    background-color: #9a3838ba;
}