<div fxLayout="column" fxLayoutGap="10px">

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
      <span class="title">Commande
        <mat-icon>move_to_inbox</mat-icon>
      </span>

      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div style="position:absolute; right:30px">
          <button mat-raised-button>En cours</button>
        </div>
        <div>No Commande (Animateur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Commande (Animateur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Commande (Animateur)
          <mat-icon class="orange600">done_all</mat-icon>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <span class="title">Crédits & Dépot
        <mat-icon>save_alt</mat-icon>
      </span>

      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div style="position:absolute; right:30px">
          <button mat-raised-button>En cours</button>
        </div>
        <div>No Pret (Fournisseur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Ligne de Depot (Animateur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Ligne de Credit (Animateur)
          <mat-icon class="orange600">done_all</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
      <span class="title">Devis et Encheres
        <mat-icon>gavel</mat-icon>
      </span>

      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div style="position:absolute; right:30px">
          <button mat-raised-button>En cours</button>
        </div>
        <div>No Devis (Acheteur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Devis (Fournisseur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Devis (Acheteur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <span class="title">Livraison
        <mat-icon>event_seat</mat-icon>
      </span>

      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div style="position:absolute; right:30px">
          <button mat-raised-button>En cours</button>
        </div>
        <div>No Livraison (Acheteur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Livraison (Acheteur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Livraison (Acheteur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
      <span class="title">Notations
        <mat-icon>star_border</mat-icon>
      </span>

      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div style="position:absolute; right:30px">
          <button mat-raised-button>En cours</button>
        </div>
        <div>Nom prenom (Animateur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>Nom prenom (Animateur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>Nom prenom (Acheteur)
          <mat-icon class="orange600">done_all</mat-icon>
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <span class="title">Gestion Demande Suppression
        <mat-icon>delete</mat-icon>
      </span>

      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div style="position:absolute; right:30px">
          <button mat-raised-button>En cours</button>
        </div>
        <div>No Demande (Suppression Acheteur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Demande (Suppression Animateur)
          <mat-icon class="green600">done_all</mat-icon>
        </div>
        <div>No Demande (Suppression Fournisseur)
          <mat-icon class="orange600">done_all</mat-icon>
        </div>
      </div>
    </div>
  </div>

</div>