
<div *ngIf="products" class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">      
        <div *ngFor="let product of products" class="swiper-slide">
            <mat-card class="product-item">
                <a [routerLink]="['/produit','detailsProduit', product.id]" class="image-link">
                    <img [attr.data-src]="product.images[0].medium" class="swiper-lazy"/>
                    <div class="swiper-lazy-preloader"></div>
                </a>
                <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>                                                                     
                <a [routerLink]="['/products', product.id, product.name]" class="title text-truncate">
                    {{product.name}}
                </a>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <p class="old-price text-muted"><span *ngIf="product.oldPrice">{{product.oldPrice | number : '1.2-2'}} CFA</span></p>
                        <p class="new-price">{{product.newPrice | number : '1.2-2'}} CFA</p>
                    </div>
                    <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                </div>                            
                <div class="divider mt-2"></div>
                <div class="icons">
                    <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                </div>
            </mat-card>
        </div>
    </div>
    <button class="swiper-button-prev"></button>
    <button class="swiper-button-next"></button> 
</div>