
<mat-dialog-content class="mat-typography">
        <div class="title">
            <h2 mat-dialog-title >Modification Enchere</h2>
            </div>
            <button href="#" class="edit"><mat-icon matPrefix>how_to_reg</mat-icon>Editer</button>
            <form class="example-container">
                <div fxLayout="column" fxFlex="50px">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Auteur Enchere" >
                              </mat-form-field>
                           
                        </div>
                        <div style=" margin-top: 3%;margin-left: 100%">
                                <mat-form-field >
                                    <mat-select placeholder="Type Acteur"  >
                                      <mat-option value="option">Type Acteur</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                         
                      </div>
                        <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px">
                                <div>
                                        <mat-form-field>
                                            <mat-select placeholder="Activite" >
                                              <mat-option value="option">Activite</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                </div>
                                    <div style="margin-left: 259%">
                                            <mat-form-field>
                                                <input matInput placeholder="Prix Depart" >
                                              </mat-form-field>
                                           
                                        </div>
                        </div>
                      <div fxLayout="row" style="margin-top: 10%;" fxLayout.xs="column" fxLayoutGap="5px">
                             
                              <div>
                                   <div>
                                      <h4 mat-dialog-title >Date Lancement </h4>
                                    </div>
                                    <div style="margin-top: -33%;margin-left: 101%;">
                                    <mat-form-field >
                                       <input matInput type="date" >
                                        <mat-icon matSuffix>date_range</mat-icon>
                                    </mat-form-field>
                                  </div>
                              </div>
                      </div>
                      <div fxLayout="row" style="margin-top: 10%;" fxLayout.xs="column" fxLayoutGap="5px">
                              <div>
                                  <div>
                                  <h4 mat-dialog-title >Date Cloture  </h4>
                              </div>
                              <div style="margin-top: -33%;margin-left: 101%;">
                                    <mat-form-field >
                                       <input matInput type="date" >
                                        <mat-icon matSuffix>date_range</mat-icon>
                                    </mat-form-field>
                                  </div>
                              </div>
                       </div>
                       <div fxLayout="row" style="margin-top: -24%;" fxLayout.xs="column" fxLayoutGap="5px">
                           <div>
                              <mat-form-field >
                                 <input matInput placeholder="rechercher produit">
                                  <mat-icon matSuffix style="margin-left: 12%;">search</mat-icon>
                               </mat-form-field>
                          </div>
                       </div>
                      <div fxLayout="row" style="margin-top: 10%;" fxLayout.xs="column" fxLayoutGap="5px">
                            <div>
                                    <mat-form-field>
                                        <mat-select placeholder="Type Produit" >
                                          <mat-option value="option">Produit M</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div style="margin-top: -2%;margin-left: 25%;">
                                    <mat-form-field style ="width: 60%;">
                                        <input matInput placeholder="QTY">
                                    </mat-form-field>
                                </div>
                              <div style="margin-left: -190%; margin-top: -14%;">
                                      <mat-dialog-actions>
                                              <button  mat-raised-button color="primary" class="add">+ Enchère</button>
                                            </mat-dialog-actions>
                                </div>
                            
                              <div style="margin-left: 54%;margin-top: -14%;">
                                    <mat-dialog-actions>
                                            <button mat-raised-button color="primary" class="acheteur">- Enchère</button>
                                          </mat-dialog-actions>
                              </div>
                            
                          </div>
                          <div fxLayout="row" style="margin-top: 18%;" fxLayout.xs="column" fxLayoutGap="5px">
                                  <div>
                                          <mat-form-field>
                                              <input matInput placeholder="Prix Vente Finale" >
                                       </mat-form-field>
                                         
                               </div>
                         </div>
                         <div fxLayout="row" style="margin-top: 40%;" fxLayout.xs="column" fxLayoutGap="5px">
                         
                              <div>   
                                <mat-dialog-actions style="margin-top:-22%;">
                                        <input  style="display: none" 
                                        type="file" (change)="onFileChanged($event)" 
                                        #fileInput>
                                      <button  mat-raised-button color="primary"  (click)="fileInput.click()"><mat-icon matPrefix>import_export</mat-icon>+ Charger Photo</button>
                                </mat-dialog-actions>   
                              </div>
                              <div>
                                      <mat-dialog-actions style="margin-left: 90px;margin-top: -15%;">
                                              <button mat-raised-button color="warn">-Supprimer Photo</button>
                                            </mat-dialog-actions>
                              </div>
                          </div>
                          
                  </div>
             
            
          </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="warn" mat-dialog-close>Delete</button>
            <button mat-raised-button class="save" color="" [mat-dialog-close]="true" cdkFocusInitial>Enregistrer</button>
    </mat-dialog-actions>