 <!-- CONTENT -->
    <div class="content p-24">
      <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutGap="60px" fxLayout.xs="column">
          <div>
            <a [routerLink]="['/domaine', 'agriculture']" style="text-decoration:none">
              <mat-card class="panel-domaine-a">
                <mat-card-header>
                  <img src="assets/images/domaine/agriculture.png" alt="" width="100px" style="height:100%">
                </mat-card-header>
                <mat-card-title>
                  Agriculture
                </mat-card-title>
                <mat-card-content>
                  &nbsp; &nbsp;
                </mat-card-content>
                <mat-card-footer>
                  &nbsp;
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div>
            <a [routerLink]="['/domaine', 'elevage']" style="text-decoration:none">
              <mat-card class="panel-domaine-b">
                <mat-card-header>
                  <img src="assets/images/domaine/elevage.png" alt="" width="100px" style="height:100%">
                </mat-card-header>
                <mat-card-title>
                  Elevage
                </mat-card-title>
                <mat-card-content>
                  &nbsp; &nbsp;
                </mat-card-content>
      
                <mat-card-footer>
                  &nbsp;
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div>
            <a [routerLink]="['/domaine', 'peche']" style="text-decoration:none">
              <mat-card class="panel-domaine-c">
                <mat-card-header>
                  <img src="assets/images/domaine/peche.png" alt="" width="100px" style="height:100%">
                </mat-card-header>
                <mat-card-title>
                  Peche
                </mat-card-title>
                <mat-card-content>
                  &nbsp; &nbsp;
                </mat-card-content>
                <mat-card-footer>
                  &nbsp;
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="60px" fxLayout.xs="column">
          <div>
            <a [routerLink]="['/domaine', 'agriculture']" style="text-decoration:none">
              <mat-card class="panel-domaine-a1">
                <mat-card-header>
                  <img src="assets/images/domaine/artisanat.png" alt="" width="100px" style="height:100%">
                </mat-card-header>
                <mat-card-title>
                  Artisanat
                </mat-card-title>
                <mat-card-content>
                  &nbsp; &nbsp;
                </mat-card-content>
                <mat-card-footer>
                  &nbsp;
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div>
            <a [routerLink]="['/domaine', 'elevage']" style="text-decoration:none">
              <mat-card class="panel-domaine-b1">
                <mat-card-header>
                  <img src="assets/images/domaine/tech.png" alt="" width="100px" style="height:100%">
                </mat-card-header>
                <mat-card-title>
                  Technologie
                </mat-card-title>
                <mat-card-content>
                  &nbsp; &nbsp;
                </mat-card-content>
        
                <mat-card-footer>
                  &nbsp;
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
          <div>
            <a [routerLink]="['/domaine', 'peche']" style="text-decoration:none">
              <mat-card class="panel-domaine-c1">
                <mat-card-header>
                  <img src="assets/images/domaine/commerce.png" alt="" width="100px" style="height:100%">
                </mat-card-header>
                <mat-card-title>
                  Commerce
                </mat-card-title>
                <mat-card-content>
                  &nbsp; &nbsp;
                </mat-card-content>
                <mat-card-footer>
                  &nbsp;
                </mat-card-footer>
              </mat-card>
            </a>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <!-- / CONTENT -->