<mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        <div fxLayout="row" fxLayoutGap="60px">
            <a href="#" fxLayout="row" fxLayoutAlign="center center">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Instagram.png" alt="">
            </a>
            <a href="#" fxLayout="row" fxLayoutAlign="center center">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_GooglePlus.png" alt="">
            </a>
            <a href="#" fxLayout="row" fxLayoutAlign="center center">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Facebook.png" alt="">
            </a>
            <a href="#" fxLayout="row" fxLayoutAlign="center center">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Twitter.png" alt="">
            </a>
        </div> 
        <div fxLayout="row" fxLayoutGap="0px" class="sperator">
            <div fxLayout="row" fxLayoutGap="0px">
                <img src="assets/images/Footer/FineTech_PS_Elmt_Footer_GrdtLine.png" alt="">
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 0px !important">
            <a href="#" fxLayout="row" fxLayoutAlign="center center" style="text-decoration: none">
                <span class="menf-el">HOME</span>
            </a>
            <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_1.png" alt="">
            <a href="#" fxLayout="row" fxLayoutAlign="center center" style="text-decoration: none">
                <span class="menf-el">LOCALITE</span>
            </a>
            <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_1.png" alt="">
            <a href="#" fxLayout="row" fxLayoutAlign="center center" style="text-decoration: none">
                <span class="menf-el">PANIER</span>
            </a>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
            <span fxLayoutAlign="center center" class="menf-el2"><a  style="text-decoration: none" href="#">Produits & Services</a></span>
                <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_2.png" alt="">
            <span fxLayoutAlign="center center" class="menf-el2"><a  style="text-decoration: none" href="#">Appels d'offres</a></span>
                <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_2.png" alt="">  
            <span fxLayoutAlign="center center" class="menf-el2"><a  style="text-decoration: none" href="#">Enchère en cours</a></span>
        </div>
        <div fxLayout="row" fxLayoutGap="40px">
            <span fxLayoutAlign="center center" class="menf-el2">
                <span><h6>copyright zone</h6></span>
            </span>
        </div>
    </div>
</mat-toolbar>
