<div fxLayout="column" fxFlex="100">
    <div>
        <mat-toolbar>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutGap="60px" style="padding-bottom:2%">
                    <a href="#" fxLayout="row" fxLayoutAlign="center center">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Instagram.png" alt="">
                    </a>
                    <a href="#" fxLayout="row" fxLayoutAlign="center center">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_GooglePlus.png" alt="">
                    </a>
                    <a href="#" fxLayout="row" fxLayoutAlign="center center">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Facebook.png" alt="">
                    </a>
                    <a href="#" fxLayout="row" fxLayoutAlign="center center">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Normal.png" alt="">
                        <img style="position:absolute" src="assets/images/Footer/FineTech_PS_Elmt_Footer_ExtLinks_Btn_Icons_Twitter.png" alt="">
                    </a>
                </div>
                <div fxLayout="row" fxLayoutGap="0px" style="padding-top: 1%" class="sperator px-4 py-5">
                    <div fxLayout="row" fxLayoutGap="0px">
                        <img src="assets/images/Footer/FineTech_PS_Elmt_Footer_GrdtLine.png" alt="">
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" class="py-8" style="margin-bottom: 0px !important;padding-top: 1%;">
                    <a href="#" fxLayout="row" fxLayoutAlign="center center" style="text-decoration: none">
                        <span class="menf-el">HOME</span>
                    </a>
                    <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_1.png" alt="">
                    <a href="#" fxLayout="row" fxLayoutAlign="center center" style="text-decoration: none">
                        <span class="menf-el">LOCALITE</span>
                    </a>
                    <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_1.png" alt="">
                    <a href="#" fxLayout="row" fxLayoutAlign="center center" style="text-decoration: none">
                        <span class="menf-el">PANIER</span>
                    </a>
                </div>
                <div fxLayout="row" class="px-4" style="padding-top:1%; margin-right: 2%;">
                    <span fxLayoutAlign="center center">
                        <a class="menf-el2" style="text-decoration: none" href="#">Produits & Services</a>
                    </span>
                    <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_2.png" alt="">
                    <span fxLayoutAlign="center center">
                        <a class="menf-el2" style="text-decoration: none" href="#">Appels d'offres</a>
                    </span>
                    <img style="padding-left: 1em; padding-right: 1em;" src="assets/images/Footer/FineTech_PS_Elmt_Footer_Separator_2.png" alt="">
                    <span fxLayoutAlign="center center">
                        <a class="menf-el2" style="text-decoration: none" href="#">Enchère en cours</a>
                    </span>
                </div>
            </div>
        </mat-toolbar>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center" class="copyright-content">
        <div>
            <span class="menf-el2">
                <span style=" font-size: 14px; font-weight: 800; ">Copyright zone</span>
            </span>
        </div>
    </div>
</div>


