
<div fxLayout="column" fxFlex="100">
  <app-main-carousel [slides]="slides"></app-main-carousel>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
      <div fxLayout="column">
          
            <div class="products-tabs">
              <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Meilleur vente">
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                        <mat-card class="product-item text-center">
                          <mat-chip-list>
                            <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                          </mat-chip-list>
                          <a [routerLink]="['#']" class="image-link">
                            <img src="assets/images/Produit/cirot.jpg" alt="">
                          </a>
                          <h4 class="category text-muted">Agriculture</h4>
                          <a [routerLink]="['#']" class="title text-truncate">
                            Cirot
                          </a>
                          <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                            <div fxLayout="column" fxLayoutAlign="center start">
                              <p class=" text-muted">
                                <span>12500 CFA</span>
                              </p>
                            </div>
                            <div fxLayout="row" fxLayoutAlign='center end'>
                              <div class="ratings">
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                              </div>
                              <p class="ratings-count text-muted">4 ratings</p>
                            </div>
                          </div>
                          <div class="divider mt-2"></div>
                          <div class="icons">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                              <div>
                                <button mat-icon-button matTooltip="Ajouter au panier">
                                  <mat-icon>shopping_cart</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Detail produit">
                                  <mat-icon>remove_red_eye</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        </mat-card>
                    </div>
                    <div>
                        <mat-card class="product-item text-center">
                          <mat-chip-list>
                            <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                          </mat-chip-list>
                          <a [routerLink]="['#']" class="image-link">
                            <img src="assets/images/Produit/cirot.jpg" alt="">
                          </a>
                          <h4 class="category text-muted">Agriculture</h4>
                          <a [routerLink]="['#']" class="title text-truncate">
                            Cirot
                          </a>
                          <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                            <div fxLayout="column" fxLayoutAlign="center start">
                              <p class=" text-muted">
                                <span>12500 CFA</span>
                              </p>
                            </div>
                            <div fxLayout="row" fxLayoutAlign='center end'>
                              <div class="ratings">
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                                <mat-icon class="mat-icon-xs">star</mat-icon>
                              </div>
                              <p class="ratings-count text-muted">4 ratings</p>
                            </div>
                          </div>
                          <div class="divider mt-2"></div>
                          <div class="icons">
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                              <div>
                                <button mat-icon-button matTooltip="Ajouter au panier">
                                  <mat-icon>shopping_cart</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Detail produit">
                                  <mat-icon>remove_red_eye</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        </mat-card>
                    </div>
                    
                  </div> 
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Nouveauté">
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                  
                  </div>
                </mat-tab>
                <mat-tab label="Mieux noté">
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                  
                  </div>
                </mat-tab>
              </mat-tab-group> 
            </div>            
            <div class="products-tabs">
              <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Meilleur vente">
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
            
                  </div>
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
            
                  </div>
                </mat-tab>
                <mat-tab label="Nouveauté">
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/Produit/cirot.jpg" alt="">
                        </a>
                        <h4 class="category text-muted">Agriculture</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12500 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
            
                  </div>
                </mat-tab>
                <mat-tab label="Mieux noté">
                  <div fxLayout="row" fxLayout.xs="column">
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/products/printer/1-medium.png" alt="">
                        </a>
                        <h4 class="category text-muted">Tech</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          PC
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>120000 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">4 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                    <div>
                      <mat-card class="product-item text-center">
                        <mat-chip-list>
                          <mat-chip color="warn" selected="true">0% OFF</mat-chip>
                        </mat-chip-list>
                        <a [routerLink]="['#']" class="image-link">
                          <img src="assets/images/products/pc/1-medium.png" alt="">
                        </a>
                        <h4 class="category text-muted">Tech</h4>
                        <a [routerLink]="['#']" class="title text-truncate">
                          Cirot
                        </a>
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                          <div fxLayout="column" fxLayoutAlign="center start">
                            <p class=" text-muted">
                              <span>12000 CFA</span>
                            </p>
                          </div>
                          <div fxLayout="row" fxLayoutAlign='center end'>
                            <div class="ratings">
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                              <mat-icon class="mat-icon-xs">star</mat-icon>
                            </div>
                            <p class="ratings-count text-muted">5 ratings</p>
                          </div>
                        </div>
                        <div class="divider mt-2"></div>
                        <div class="icons">
                          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="align" class="text-muted">
                            <div>
                              <button mat-icon-button matTooltip="Ajouter au panier">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Detail produit">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
            
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
      </div>
      <br>
      <mat-divider></mat-divider>
    </div>
</div>

