<div fxLayout="column" fxLayoutGap="10px">

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
      <span class="title">Plafond Ligne de Crédits</span>
  
      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div>Nom prenom (Animateur) <mat-icon class="orange600">money</mat-icon></div>
        <div>Nom prenom (Animateur) <mat-icon class="orange600">money</mat-icon></div>
        <div>Nom prenom (Animateur) <mat-icon class="red600">money</mat-icon></div>
      </div>
    </div>
    <div fxFlex="50">
      <span class="title">Fin de Stock</span>
  
      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div>Nom produit (Magasin) <mat-icon class="orange600">schedule</mat-icon></div>
        <div>Nom produit (Magasin)<mat-icon class="orange600">schedule</mat-icon></div>
        <div>Nom produit (Magasin)<mat-icon class="red600">schedule</mat-icon></div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
      <span class="title">Plafond Ligne de Dépots</span>
  
      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div>Nom prenom (Animateur) <mat-icon class="red600">new_releases</mat-icon></div>
        <div>Nom prenom (Animateur) <mat-icon class="red600">new_releases</mat-icon></div>
        <div>Nom prenom (Animateur) <mat-icon class="red600">new_releases</mat-icon></div>
      </div>
    </div>
    <div fxFlex="50">
      <span class="title">Echec Paiements</span>
  
      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div>Nom produit (Magasin) <mat-icon class="red600">announcement</mat-icon></div>
        <div>Nom produit (Magasin) <mat-icon class="red600">announcement</mat-icon></div>
        <div>Nom produit (Magasin) <mat-icon class="red600">announcement</mat-icon></div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
      <span class="title">Retard Remboursement Pret</span>
  
      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div>Nom prenom (Animateur) <mat-icon class="red600">watch_later</mat-icon></div>
        <div>Nom prenom (Animateur) <mat-icon class="red600">watch_later</mat-icon></div>
        <div>Nom prenom (Animateur) <mat-icon class="orange600">watch_later</mat-icon></div>
      </div>
    </div>
    <div fxFlex="50">
      <span class="title">Retard Livraison</span>
  
      <div fxLayout="column" class="mt-4" fxLayoutGap="10px" class="elmt-content">
        <div>Nom produit (Magasin) <mat-icon class="orange600">restore</mat-icon></div>
        <div>Nom produit (Magasin) <mat-icon class="orange600">restore</mat-icon></div>
        <div>Nom produit (Magasin) <mat-icon class="red600">restore</mat-icon></div>
      </div>
    </div>
  </div>
  
</div>

