.title {
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.elmt-content {
    padding: 5px;
    background-color: rgba(131, 131, 182, 0.288);
}

.orange600 {
    color: #FB8C00;
    padding-top: 7px;
}

.green600 {
    color: rgb(62, 168, 12);
    padding-top: 7px;
}

.red600 {
    color: rgb(251, 0, 0);
    padding-top: 7px;
}

.panel {
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    padding: 3%;
    text-decoration: none;
    background-color: #49565d;
    color: white;
}
