<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Fournisseur">
    
    <div fxLayout="row" fxLayoutAlign="center center" class="title-top">
      <div>
        <h2 class="title">LISTE FOURNISSEUR</h2>
      </div>
    </div>
    <div class="py-8">
      <button mat-raised-button color="accent" (click)="crudComp.openCreateAcheteur()">Ajouter un fournisseur</button>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.Nom}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Niveau_Agreement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau_Agreement </th>
          <td mat-cell *matCellDef="let row"> {{row.Niveau_Agreement}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Agree_Par">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Agree_Par </th>
          <td mat-cell *matCellDef="let row"> {{row.Agree_Par}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Modifier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
          <td mat-cell *matCellDef="let row"> {{row.Modifier}}
            <button mat-raised-button (click)="crudComp.openUpdateAcheteur()">
              <mat-icon class="orange600">edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Supprimer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Supprimer </th>
          <td mat-cell *matCellDef="let row"> {{row.Supprimer}}
            <button mat-raised-button>
              <mat-icon class="red600">delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  
  </mat-tab>
  <mat-tab label="Animateur">
    <div fxLayout="row" fxLayoutAlign="center center" class="title-top">
      <div>
        <h2 class="title">LISTE ANIMATEUR</h2>
      </div>
    </div>
    <div class="py-8">
      <button mat-raised-button color="accent" (click)="crudComp.openCreateAcheteur()">Ajouter un animateur</button>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <ng-container matColumnDef="Nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row"> {{row.Nom}} </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Niveau_Agreement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau_Agreement </th>
          <td mat-cell *matCellDef="let row"> {{row.Niveau_Agreement}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
          <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Agree_Par">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Agree_Par </th>
          <td mat-cell *matCellDef="let row"> {{row.Agree_Par}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Modifier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
          <td mat-cell *matCellDef="let row"> {{row.Modifier}}
            <button mat-raised-button (click)="crudComp.openUpdateAcheteur()">
              <mat-icon class="orange600">edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Supprimer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Supprimer </th>
          <td mat-cell *matCellDef="let row"> {{row.Supprimer}}
            <button mat-raised-button>
              <mat-icon class="red600">delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  
  </mat-tab>
</mat-tab-group>